footer {
  border: 1px solid black;
  padding: 10px 15px;
}

.dish {
  width: 250px;
}

section {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.meal {
  padding: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.description p {
  width: 150px;
}

.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 50px;
}

.likes img {
  width: 16px;
}

.newButton {
  width: 100px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 5px;
}
